/*.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    
    background-color: orange !important;
    color:black !important; 
    
    
}*/


    #logo-ecuador{
     
        height: 50px;
        width:100%;
        
        
    }
    
    @media screen and (max-width: 300px) {
    
    
        #logo-ecuador{
            width:100%;
            height:30px;
            
        }
        
              
        
    }
  
  @media (max-width: 1000px) {
   #saturday_cell,#saturday_8,#saturday_9,#saturday_10,#saturday_11,#saturday_12,#saturday_13,#saturday_14,#saturday_15,#saturday_16,#saturday_17,#saturday_18 {
        display: none;
    }
    
    
    
}

 @media (max-width: 1000px) {
   
    
    #sunday_cell,#sunday_8,#sunday_9,#sunday_10,#sunday_11,#sunday_12,#sunday_13,#sunday_14,#sunday_15,#sunday_16,#sunday_17,#sunday_18 {
        display: none;
    }
    
}


@media (max-width: 1000px) {
   
    
    #friday_cell,#friday_8,#friday_9,#friday_10,#friday_11,#friday_12,#friday_13,#friday_14,#friday_15,#friday_16,#friday_17,#friday_18 {
        display: none;
    }
    
}
    
    
    
    p, .textInsideTaskDiv{
        
        font-size: 2.5vmin;
        
        
    }
    
    #calendar 
        {
            display: table;
            
        }
    
    .Heading
        {
            display: table-row;
            font-weight: bold;
            text-align: center;
            
        }
        
    .Rowe
        {
            display: table-row;
            text-align: center;
            color: #069;
        
        }
        
        
    
        
        
    .divtime, .Cell
        {
            display: table-cell;
            color:black;
            border: solid;
            text-align: center;
            border-width: thin;
            width: 150px;
            max-width: 150px;
            height:  50px;
            border-right: 2px double blue;
            border-bottom: 2px double blue;
            
        }
        
    .Cell{
            
            
            color: black;
            font-weight: bold;
            background-color: orange;
            background: linear-gradient(orange,orange);
            vertical-align: middle;
            text-shadow: 1px 0 darkblue;
            border-top-right-radius: 10%;
            border-top-left-radius: 10%;
        }
        
    
        
    *{
        
        padding:0px;
        margin: 0px;
        
    }
    
    
    
    body {
            font-family: 'Roboto', sans-serif bold;
            font-size:15px;
            background-color:#004050 !important;
    
            
        }
        
    #overlay {
                    visibility: hidden;
                    position: absolute;
                    width:100%;
                    height:130%;
                    text-align:center;
                    z-index: 1000;
                    background-color:silver;
                    opacity: 0.93;
                    filter: alpha(opacity=93);
                }
    
    #overlay form {
                        width:300px;
                        /*background-color:  #b0c4de;*/
                        background: linear-gradient(orange,orange);
                        border:1px solid #000;
                        text-align:center;
    }
    
    
    #showform{ 
                        border-style: solid;
                        position: absolute;
                        border-width: 1px 4px 4px 1px;
                        text-decoration : none;
                        border-color : #69f #00f #00f #69f;
                        background-color: #b0c4de;
                        width: 127px;
                        
    
    
    }
    
    p{
        font-weight:bold;
        
    }
    
    .deleteDiv{
                        
                        float:right;
                        width: 10px;
                        height: 10px;
    }
    
    .divtime{
                /*font-family: 'Oswald', sans-serif;*/
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                /*background-color:#E0E0E0   ;*/
                background-color: whitesmoke;
    }
    
    
    .button1 {
                        
                        
                        display:inline-block;
                        color: black;
                        text-shadow: 1px 0 darkblue;
                        font-weight: bold;
                        font-size: 2vmin;
                        font-style:normal;
                        height:40px;
                        width: 100px;
                        line-height:40px;
                        text-decoration:none;
                        text-align:center;
                        background-color: orange;
                    
    }
    .button1:hover {
        
                        background-color:#004050;
                        text-shadow: 1px 0 darkblue;
                        color:white;
    }