/*.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    
    background-color: orange !important;
    color:black !important; 
    
    
}*/

.navbar-custom1 .navbar-nav .open .dropdown-menu>li>a, .navbar-custom1 .navbar-nav .open .dropdown-menu {
    background-color: #337ab7;
    color: #333;
}

.nav>li>a:focus{
    
     background-color: transparent !important; 
     
}

.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: black;
     background-color: transparent !important;
}

.navbar-custom1  {
    background-color: #337ab7;
    background-image: none;
      
    
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #333 !important; 
    border-color: #337ab7;
}

.navbar-custom1  .nav > li > a:hover{
    
    
    background-color: #333;
}

.navbar-custom1  .navbar-brand {
  color: black;
  font-weight: bold;
  

}

.navbar-custom1  .nav > li > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    

}

.navbar-custom1 .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: black;
  font-weight: bold;
  
}


#arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
	border-left: 20px solid #337ab7;
    display: inline;
}

#arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
	border-right: 20px solid #337ab7;
    display: none;
}




    #logo-ecuador{
     
        height: 50px;
        width:100%;
        
        
    }
    
    @media screen and (max-width: 300px) {
    
    
        #logo-ecuador{
            width:100%;
            height:30px;
            
        }
        
              
        
    }
  

  @media (max-width: 900px) {
   
    
   #arrow-right{
        right: 300px;
    }
    
}

@media (max-width: 450px) {
   
    
   #arrow-right{
        right: -10px;
    }
    
}


@media (max-width: 200px) {
   
    
   #arrow-right{
        right:-100px;
    }
    
}

   
    
    p, .textInsideTaskDiv{
        
        font-size: 17px;
        
        
    }
    
    #calendar 
        {
            display: table;
            
        }
    
    .Heading
        {
            display: table-row;
            font-weight: bold;
            text-align: center;
            
        }
        
    .Rowe
        {
            display: table-row;
            text-align: center;
            color: #069;
        
        }
        
        
    
        
        
    .divtime, .Cell
        {
            display: table-cell;
            color:black;
            border: solid;
            text-align: center;
            border-width: thin;
            width: 150px;
            max-width: 150px;
            height:  50px;
            border-right: 2px double black;
            border-bottom: 2px double black;
            
        }
        
    .Cell{
            
            
            color: black;
            font-weight: bold;
            background-color: #337ab7;
            background: linear-gradient(#337ab7,#337ab7);
            vertical-align: middle;
            text-shadow: 1px 0 darkblue;
            border-top-right-radius: 10%;
            border-top-left-radius: 10%;
        }
        
    
        
    *{
        
        padding:0px;
        margin: 0px;
        
    }
    
    
    
    body {
            font-family: 'Roboto', sans-serif bold;
            font-size:17px;
            background-color:#333 !important;
            color:black !important;
    
            
        }
        
    #overlay {
                    visibility: hidden;
                    position: absolute;
                    width:100%;
                    height:220%;
                    text-align:center;
                    z-index: 1000;
                    background-color:silver;
                    opacity: 0.93;
                    
                    filter: alpha(opacity=93);
                }
    
    #overlay form {
                        width:100%;
                        /*background-color:  #b0c4de;*/
                        background: linear-gradient(#337ab7,#337ab7);
                        border:1px solid #000;
                        text-align:center;
                        margin-left: 0%;
                        margin-top: 10%;
    }
    
    
    #showform{ 
                        border-style: solid;
                        position: absolute;
                        right: 50%;
                        border-width: 1px 4px 4px 1px;
                        text-decoration : none;
                        border-color : #69f #00f #00f #69f;
                        background-color: #b0c4de;
                        width: 127px;
                        
    
    
    }
    
    p{
        font-weight:bold;
        
    }
    
    
    legend{
        
        color:black !important;
        
    }
    
    .deleteDiv{
                        
                        float:right;
                        width: 10px;
                        height: 10px;
    }
    
    .divtime{
                /*font-family: 'Oswald', sans-serif;*/
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 15px;
                /*background-color:#E0E0E0   ;*/
                background-color: whitesmoke;
    }
    
    
    .button1 {
                        
                        
                        display:inline-block;
                        color: black;
                        text-shadow: 1px 0 darkblue;
                        font-weight: bold;
                        font-size: 2vmin;
                        font-style:normal;
                        height:40px;
                        width: 100px;
                        line-height:40px;
                        text-decoration:none;
                        text-align:center;
                        background-color: #337ab7;
                    
    }
    .button1:hover {
        
                        background-color:#333;
                        text-shadow: 1px 0 darkblue;
                        color:white;
    }