#calendar 
    {
        display: table;
        width: 60%;
        height: 60%;
        padding-top:70px;
        /*margin:-40px -500px 0 300px*/
      
        
        
    }
   
.Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    
.Row, .Heading
    {
        display: table-row;
        text-align: center;
        color: #069;
	
    }
    
    
.divtime, .Cell
    {
        display: table-cell;
        color:black;
        border: solid;
        text-align: center;
        border-width: thin;
        width: 150px;
        max-width: 150px;
        height:  50px;
        max-height: 50px;
        border-right: 2px double blue;
        border-bottom: 2px double blue;
        
    }
    
.Cell{
        
        
        color: darkblue;
        font-weight: bold;
        background-color: #b0c4de;
        border-top-right-radius: 10%;
        border-top-left-radius: 10%;
    }
    
   
    
 *{
       
       padding:0px;
       margin: 0px;
       
   }
   

   
body {
        font-family: 'Roboto', sans-serif bold;
        font-size:18px;
        background-color:silver;
      }
      
#overlay {
                visibility: hidden;
                position: absolute;
                
                /*top: -10px;*/
                width:105%;
                height:123%;
                text-align:center;
                z-index: 1000;
                background-color:silver;
                opacity: 0.93;
                filter: alpha(opacity=93);
            }
 
#overlay form {
                    width:300px;
                    margin: 100px auto;
                    background-color:  #b0c4de;
                    border:1px solid #000;
                    padding:15px;
                    text-align:center;
}


#showform{ 
                    border-style: solid;
                    position: absolute;
                    border-width: 1px 4px 4px 1px;
                    text-decoration : none;
                    padding : 4px;
                    border-color : #69f #00f #00f #69f;
                    background-color: #b0c4de;
                    width: 127px;
                    top:100px;
   
   
 }
 
 p{
     font-weight:bold;
     
 }
 
 .deleteDiv{
                    
                    float:right;
                    width: 10px;
                    height: 10px;
 }
 
 .divtime{
              /*font-family: 'Oswald', sans-serif;*/
             font-family: 'Source Sans Pro', sans-serif;
             font-size: 20px;
             background-color:#E0E0E0   ;
     
 }

.nav {
            width: 100%;
            position: absolute;
            /*float: left;*/
            margin: 0 0 0 0;
          
            
            /*margin:10px 0 0 2px;*/
            /*margin-bottom: 100px;*/
            list-style: none;
            border-bottom: 1px solid #ccc; 
            border-top: 1px solid #ccc; 
            z-index: 90;
            border-color : #69f #00f #00f #69f;
            background-color: #b0c4de;
            /*-webkit-border-top-left-radius:10px;
            -moz-border-radius-topleft:10px;*/
            /*border-top-left-radius:10px;*/
            /*-webkit-border-top-right-radius:10px;
            -moz-border-radius-topright:10px;*/
            /*border-top-right-radius:10px;
            -webkit-border-bottom-right-radius:10px;*/
            /*-moz-border-radius-bottomright:10px;*/
            /*border-bottom-right-radius:10px;*/
            /*-webkit-border-bottom-left-radius:10px;
            -moz-border-radius-bottomleft:10px;*/
            /*border-bottom-left-radius:10px;*/
   
    
}
    
.nav li {
	float: left; 
    
    
    }
.nav li a {
                display: block;
                padding: 8px 15px;
                text-decoration: none;
                /*-webkit-border-top-left-radius:20px;
                -moz-border-radius-topleft:20px;
                border-top-left-radius:20px;*/
                /*-webkit-border-top-right-radius:20px;
                -moz-border-radius-topright:20px;
                border-top-right-radius:20px;*/
                -webkit-border-bottom-right-radius:20px;
                -moz-border-radius-bottomright:20px;
                border-bottom-right-radius:20px;
                /*-webkit-border-bottom-left-radius:20px;*/
                -moz-border-radius-bottomleft:20px;
                border-bottom-left-radius:20px;
                color: darkblue;
                font-weight: bold;
                border-right: 2px solid darkblue; 
    
    }
.nav li a:hover {
                    background-color:darkblue;
                    color:white;
    
    
     }
    
    
.button1 {
                    -moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
                    -webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
                    box-shadow:inset 0px 1px 0px 0px #d197fe;
                    border-color : #69f #00f #00f #69f;
                    background-color: #b0c4de;
                    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
                    -webkit-border-top-left-radius:20px;
                    -moz-border-radius-topleft:20px;
                    border-top-left-radius:20px;
                    -webkit-border-top-right-radius:20px;
                    -moz-border-radius-topright:20px;
                    border-top-right-radius:20px;
                    -webkit-border-bottom-right-radius:20px;
                    -moz-border-radius-bottomright:20px;
                    /*border-bottom-right-radius:20px;
                    -webkit-border-bottom-left-radius:20px;
                    -moz-border-radius-bottomleft:20px;
                    border-bottom-left-radius:20px;*/
                    text-indent:0;
                    display:inline-block;
                    color: darkblue;
                    font-weight: bold;
                    font-size:15px;
                    font-style:normal;
                    height:40px;
                    line-height:40px;
                    text-decoration:none;
                    text-align:center;
                    width: 127px;
                    top:100px;
                    position: absolute;
}
.button1:hover {
	
                    background-color:darkblue;
                    color:white;
}